

.topbar{
    width:100%;
    height: 70px;
    background-color:#171717;
    position: fixed;
    top: 0;
     z-index: 2;
    color: white;
    transition: all 1s ease;
    cursor: pointer;
    
  

.wrapper {
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
       
}
.logo{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Sedgwick Ave', cursive;
    color: white;

    &:hover{
        color:#FFC900;
        transition: 0.5s ease-in-out;
    }
}
.leftcontents{
    display:flex;
    align-items: center;
    
    &:hover{
        color:#FFC900;
        transition: 0.9s ease-in-out;
    }
    
    .leftItemContainer{
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 70px;
    }
}
.itemContainer{
    font-size: 15px;
    font-weight: 700px;
     

    
}
/* horizontal elements is display flex then flex-direction -column*/


}