.worksContainer{
    background-color:#FFC900;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    position: relative;

    .arrow{
        position: absolute;
        cursor: pointer;

        &.left{
            left: 100px;
            transform: rotate(180deg);
        }
        &.right{
            right: 100px;
            
        }

    }

    .slider{
        height: 350px;
        display: flex;
        position: absolute;
        left: 0;

        .container{
            width: 100vw;
            display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

    .workItem{
        width: 700px;
        height: 700px;
        border-radius: inherit;
        background-color:white;
        display: flex;
    align-items: center;
    justify-content: center;

    .left{
        flex: 6;
        height: 80%;
        display: flex;
    align-items: center;
    justify-content: center;

    .leftContainer{
        width: 90%;
        height:70% ;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        color: black;

        .imgContainer{
            width: 40px;
            height: 40px;
           color: inherit;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                width: 25px;
            }
            h2{
                font-size: 20px;
                
            }
            p{
            font-size: 13px;
            font-weight: 600px;
            }
            span{
                font-size: 12px;
                font-weight: 600;
                text-decoration: underline;
                cursor: pointer;
            }
        
        }
    }

      
    }
    .right{
        flex: 6;
        height: 100%;
        display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    

    img{
        width: 400px;
        transform: rotate(-10deg);
    }
      
    }
    }

        }
    }
     
   
}