.app{
   height: 100%;
    overflow: hidden;
    .sections{
        width: 100%;
        
        background-color:lightpink;
        position: relative;
        scroll-behavior: smooth;
        top: 10px;
      scroll-snap-type: y mandatory;
      scrollbar-width: none;
      margin-top: 70px;

      &::-webkit-scrollbar{
        display: none;
    }

    > *{
      
       
        scroll-snap-align: start;
    }
   
      
    }
    
        
         
}

    

    
